body {
  margin: 0 auto;
  max-width: 50em;
  /* font-family: "Helvetica", "Arial", sans-serif; */
  padding: 5em 1em;
  color: #555;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #121314;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  margin: .5rem 0;
  padding: 0;
  font-weight: 500;
  font-size: 2.5em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  color: #555;
  font-weight: 400;
  font-size: 2em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  color: #888;
}

code {
  padding: 2px 4px;
}

pre {
  border-left: 2px solid #48bb78;
  padding: 1em;
}

a {
  color: #48bb78;
}

.date {
  font-size: small;
  color: #888;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  background-color: #1a202c;
  display: flex;
  justify-content: center;
  z-index: 10;
  font-weight: 600;
}

.header-container {
  width: 100%;
  max-width: 50em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-sizing: border-box; */
  padding: 7px 1em;
}

.ico-title {
  display: inline-flex;
  align-items: center;
  justify-content: left;
}

.ico-title img {
  width: 30px;
  padding-right: 5px;
  display: inline-block;
}

header a {
  color: white;
  text-decoration: none;
}

.follow-btn {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.index-post-container {
  margin-top: 2rem;
  min-height: 50vh;
}

.index-post-title {
  text-decoration: none;
  font-weight: bolder;
  display: block;
  color: #333;
  font-weight: 500;
  font-size: 2.5em;
}


footer {
  margin-top: 10rem;
  text-align: right;
}

footer a {
  color: #1a202c;
}
